<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - Blog</title>
        
        <link rel="stylesheet" 
        href="{{url_for('static',filename='css/layout.css')}}"/>
        
    </head>
    <body>
        {% block base %}

<nav>
 <a href="/home">home</a>
 <a href="/about">about</a>
 <a href="/contact">contact</a>
</nav>

<footer>
 <a href="/home">home</a>
 <a href="/about">about</a>
 <a href="/contact">contact</a>
</footer>

       
        {% endblock base %}

    </body>
</html>
